h1 {
    font-family: "DynaPuff";
}
.h2 {
    font-family: "Righteous";
}
body {
    background: white;
    font-family: "Open Sans";
    
}

input[type=button]{    
background-color: #77797c;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#Stopbtn {
    display: none;
}

#previous-score, #best-score {
    font-size: 25px;
    display: inline;
    background-color: #65aef3;
    border: 3px solid #77797c;
    border-radius: 10px;
    margin: 20px;
    
}

#average {
    background-color: #65aef3;
    border: 3px solid #77797c;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
}

#avtxt {
    font-size: 25px;
}
#source { 
    font-size: 5px;
}


#formImage {
    max-width: 35px;
}
.col {
    float: left;
}.right {
    width: 10%;
}.left {
    width: auto;
}
.hover {
    display: none;
}
#formImage:hover + .hover {
    display: block;
}